*venv/
*.idea
*__pycache__/
*.env
*.vscode/
*.DS_Store
*Thumbs.db
DAYS_021-030/Day-29-PassWord Manager-Project/data.json
DAYS_021-030/Day-29-PassWord Manager-Project/appdata.json
DAYS_041-050/Spotify-PlayList-Using-The-Musical-Time-Machine/token.txt
DAYS_061-070/Day-69-Blog-Project-With-Users/static/ckeditor/lang
